@import "tailwindcss";

@theme {
  --color-ink-black: #080E1C;
  --color-ink-black-light: #0D1526;
  --color-lavender-grey: #7880A0;
  --color-honey-bronze: #F3B230;
}

body {
  background-color: var(--color-ink-black);
  color: #ffffff;
}